body {
  font-family: 'Roboto', sans-serif;
  color: aqua;
  margin: 0;
}

.dark-background {
  background-color: #1f2937;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: left;
}

.navbar-column {
  display: flex;
  width: 100%;
  padding: 25px 100px;
}

a {
  color: white;
  text-decoration: none;
}

.header-logo-text {
  font-size: 24px;
}

.header-secondary-text {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  height: 300px;
  padding: 0 100px;
  gap: 25px;
}

.top-column {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-start;
}

.doge {
  max-width: 80%;
  max-height: 80%;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 5px 0;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.sign-up-btn {
  background-color: #3882f6;
  color: white;
  border: 0;
  font-weight: 600;
  /* background: none; */
  box-shadow: none;
  border-radius: 5px;
  padding: 8px 22px;
}

.awesome-content {
  display: flex;
  align-items: center;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.boxes-row {
  display: flex;
  justify-content: space-evenly;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.box {
  border: 2px solid #3882f6;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  justify-self: center;
}

.box-text {
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  height: 200px;
}

.call-to-action-row {
  display: flex;
  background-color: #3882f6;
  border-radius: 10px;
  width: 80%;
  height: 115px;
}

.call-to-action-column-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 40px;
}

.call-to-action-column-right {
  display: flex;
  /* flex-direction: column; */
  align-self: center;
  justify-content: center;
  flex: 1;
}

.call-to-action-header {
  font-size: 24px;
  margin-bottom: 0;
}

.call-to-action-text {
  margin-top: 5px;
}

.sign-up-outlined-btn {
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  /* background: none; */
  box-shadow: none;
  border-radius: 5px;
  padding: 8px 22px;
}

footer {
  display: flex;
  color: white;

  background-color: #1f2937;
  height: 50px;
  align-items: center;
  justify-content: center;
}
