body {
  font-family: 'Roboto', sans-serif;
  color: aqua;
  margin: 0;
}

.dark-background {
  background-color: #1f2937;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: left;
}

.navbar-column {
  display: flex;
  width: 100%;
  padding: 25px 100px;
}

a {
  color: white;
  text-decoration: none;
}

.header-logo-text {
  font-size: 24px;
}

.header-secondary-text {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  height: 300px;
}

.top-column {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex: 1;
  align-items: flex-start;
}

.doge {
  max-width: 80%;
  max-height: 80%;
}

.awesome-content {
  /* display: block; */
}
